@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  html, body, #root {
    height: 100%;
    width: 100%;
    @apply antialiased;
  }
  
  body {
    @apply font-display text-gray-900 dark:text-gray-100 bg-background-light dark:bg-background-dark;
  }

  /* Selection Color */
  ::selection {
    @apply bg-primary/20 text-primary;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-[#283936] rounded-full;
  border: 2px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400 dark:bg-[#3b544f];
}

/* Material Symbols Fill Variation */
.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
  user-select: none; /* Prevent icon text selection */
}
.icon-filled {
  font-variation-settings: "FILL" 1;
}
